@font-face {
font-family: OpenDyslexic; 
font-style:normal;
font-weight:500;
src: local(OpenDyslexic-Regular), url("https://github.com/Halokiller990/DyslexiaFontDiscordImport/raw/main/OpenDyslexic-Regular.otf") format('otf');
}

@font-face {
font-family: OpenDyslexic; 
font-style:normal;
font-weight:500;
src: local(OpenDyslexic-Bold), url("https://github.com/Halokiller990/DyslexiaFontDiscordImport/raw/main/OpenDyslexic-Bold.otf") format('otf');
}

@font-face {
font-family: OpenDyslexic; 
font-style:normal;
font-weight:500;
src: local(OpenDyslexic-Italic), url("https://github.com/Halokiller990/DyslexiaFontDiscordImport/raw/main/OpenDyslexic-Italic.otf") format('otf');
}

@font-face {
font-family: OpenDyslexic; 
font-style:normal;
font-weight:500;
src: local(OpenDyslexic-Bold-Italic), url("https://github.com/Halokiller990/DyslexiaFontDiscordImport/raw/main/OpenDyslexic-Bold-Italic.otf") format('otf');
}
